.left-block{
    /* height: 100px; */
    height: calc(100vh - 20px);
    width: 5%;
    background: #c99d48;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    z-index: 1;
}